@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

h1 {
  font-weight: 700;
}
/* 
@media screen and (min-width: 640px) {
    .faqHolder {
      width: 650px;
    }

    body{
        background-image: url('./assets/images/background-pattern-desktop.svg');
    }
  } */
